<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= pageTitle %> </title>
    <link rel="stylesheet" href="/mine/app.css">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" />
    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
</head>
<body>
    <header class="nav-header">
      <nav class="navbar navbar-expand-lg navbar-light p-3 bg-white shadow">
        <div class="container">
          <a class="navbar-brand text-black-100 mb-0" href="#" style="font-weight:500;font-size: 1.8rem;padding: 0rem;">
            MyatThueKha <span class="text-primary" style="font-size: 1rem;">(MedicineShop)</span>
          </a>
          <button class="navbar-toggler " type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto align-items-xl-center">
              <li class="nav-item">
                <a href="/" class="nav-link <%= currentRoute == '/' && 'text-primary'%>">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link <%= currentRoute == '/shop' && 'text-primary'%>" href="/shop">Shop</a>
              </li>
              <li class="nav-item">
                <a class="nav-link <%= currentRoute == '/cart' && 'text-primary'%>" href="/cart">Cart</a>
              </li>
              <li class="nav-item order">
                <a class="nav-link <%= currentRoute == '/order' && 'text-primary'%>" href="/order">Order</a>
              </li>
              <li class="bar-nyar">
                <% if(!userIsLoggedIn) { %>
                  <li class="nav-item login">
                    <a class="nav-link <%= currentRoute == '/login' && 'text-primary'%>" href="#" data-toggle="modal" data-target="#userlogin">Login</a>
                  </li>
                  <li class="nav-item register">
                    <a class="nav-link <%= currentRoute == '/register' && 'text-primary'%>" href="/register" data-toggle="modal" data-target="#userregister">Register</a>
                  </li>
                <% }else{ %>
                  <div class="dropdown nav-item ml-xl-3">
                    <button class="btn btn-light  dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <img src="/<%= user.image %> " alt="AKK" class="user_image">  <%= user.name %> 
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton ">
                      <a href="/admin/profile" class="dropdown-item d-flex justify-content-between align-items-center" style="cursor: pointer;">
                        Profile
                        <i class="fa-solid fa-angle-right"></i>
                      </a>
                      
                      <div class="dropdown-divider"></div>
                      <div class="dropdown-item d-flex justify-content-between align-items-center" >
                        <button class="btn btn-white logout-btn p-0">
                          Logout
                        </button>
                        <i class="fa-solid fa-angle-right"></i>
                      </div>
                    </div> 
                  </div>
                <% } %> 
              </li>
              
            </ul>
          
          </div>
        </div>
      </nav>
      
      <%- include('../user/auth/login')  %> 
      <%- include('../user/auth/register')  %> 
    </header>
    
      
