<%- include('../includes/header.ejs') %>
    <section class="container admin-lists">
        <input type="hidden" id="sweetAlert" value="<%= sweetAlert %>">
        <input type="hidden" id="errorMessage" value="<%= errorMessage %>">
        <table id="example" class="table table-striped table-bordered" style="width:100%">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Profile</th>
                    <th>Email</th>
                    <th>Phone</th>
                    <th>Role</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
              
               <% for(adminUser of adminUsers){ %>
                    <tr>
                        <td><%= adminUser.name %> </td>
                        <td><img src="/<%= adminUser.userimage %> " alt=""></td>
                        <td><%= adminUser.email %></td>
                        <td><%= adminUser.phone %> </td>
                        <td>
                        
                           <% if(admin.role===1 || admin.role===2){ %>
                                <% if(adminUser._id.toString() == admin._id.toString() || adminUser.role==1){ %>
                                    <span  class="badge <%= adminUser.role===1 ? "badge-success":adminUser.role===2 ? "badge-primary":"badge-secondary" %>">
                                        <%= adminUser.role === 1 ? "Owner" : adminUser.role === 2 ? "Assistant" : "Staff"%> 
                                     </span>
                                    
                                <% }else{ %>
                                    <div class="btn-group"> 
                                  
                                        <span type="button" class="badge <%= adminUser.role===1 ? "badge-success":adminUser.role===2 ? "badge-primary":"badge-secondary" %>  dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                             <%= adminUser.role === 1 ? "Owner" : adminUser.role === 2 ? "Assistant" : "Staff"%> 
                                        </span>
                                        <div class="dropdown-menu">
                                                <% if(adminUser.role !==1){ %>
                                                    <form action="/admin/update-role" method="post">
                                                        <input type="hidden" value="<%= adminUser.id%>" name="id">
                                                        <input type="hidden" value="1" name="role">
                                                        <input type="submit" class="dropdown-item" value="Owner">
                                                    </form>
                                                    <div class="dropdown-divider"></div>
                                                <% } %> 
                                            
                                                <% if(adminUser.role !==2){%>
                                                    <form action="/admin/update-role" method="post">
                                                        <input type="hidden" value="<%= adminUser.id%>" name="id">
                                                        <input type="hidden" value="2" name="role">
                                                        <input type="submit" class="dropdown-item" value="Assistant">
                                                    </form>
                                                    <div class="dropdown-divider"></div>
                                                <% } %>  
                                                <% if(adminUser.role !==3){ %>
                                                    <form action="/admin/update-role" method="post">
                                                        <input type="hidden" value="<%= adminUser.id%>" name="id">
                                                        <input type="hidden" value="3" name="role">
                                                        <input type="submit" class="dropdown-item" value="Staff">
                                                    </form>
                                                <% } %> 
                                        </div>
                                    </div> 
                                <% } %>               
                           <% }else{ %>  
                                <span  class="badge <%= adminUser.role===1 ? "badge-success":adminUser.role===2 ? "badge-primary":"badge-secondary" %>">
                                    <%= adminUser.role === 1 ? "Owner" : adminUser.role === 2 ? "Assistant" : "Staff"%> 
                                </span>
                           <% } %> 
                        </td>
                        <td>
                            <% if(admin.role ===1){ %>
                                <form action="/admin/admin-delete" method="post" style="display: inline-block;">
                                    <input type="hidden" value="<%= adminUser._id %>" name="admin_id">
                                    <button class="btn btn-danger btn-sm mr-2" type="submit">
                                        <i class="fa-solid fa-trash"></i>
                                    </button>
                                </form>
                            <% }else{ %>  
                                <p class="text-center">
                                    -
                                </p>
                            <% } %> 
                        </td>
                    </tr>
               <% } %> 
            </tbody>
            <tfoot>
                <tr>
                    <th>Name</th>
                    <th>Profile</th>
                    <th>Email</th>
                    <th>Phone</th>
                    <th>Role</th>
                    <th>Action</th>
                </tr>
            </tfoot>
        </table>
    </section>
<%- include('../includes/footer.ejs') %>  